<% if @post.errors.any? %>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @post do |f| %>

  <div><%= f.text_field :title, placeholder: 'Title' %></div>
  <div><%= f.text_field :body, placeholder: 'Body' %></div>

  <%= f.submit %>

<% end %>
